/docker/             export-ignore
/tests/              export-ignore
/.dockerignore       export-ignore
/.gitattributes      export-ignore
/.gitignore          export-ignore
/CHANGELOG.md        export-ignore
/composer.lock       export-ignore
/docker-compose.yaml export-ignore
/Makefile            export-ignore
/phpcbf.xml          export-ignore
/phpcs.xml           export-ignore
/phpstan.neon        export-ignore
/README.md           export-ignore
/rector.php          export-ignore
